extends layout

append content
    h1.text-center Authentication page
    form#form
        label(for="email") Email
        input#email(name="email", type="email", class="form-control", placeholder="Email")

        label(for="password") Password
        input#password(name="password", type="password", class="form-control", aria-describedby="passwordHelp", placeholder="Password")
        small#passwordHelp(class="form-text text-muted")
        
        button#validationBtn.btn.btn-primary(type=button) Submit

        div.form-group
            label#connexionComment

block append scripts
    script(src="/js/empreinte.js")
    script(src="/js/fpcollect.js")
    script(src="/js/authentication.js")
