extends layout

block append css
    link(id="cssfile", rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

append content
    div.container.h-100
        div.row.h-100.justify-content-center(style="display: block;")

            each connexionAttempt, time in connexionAttempts
                div.card.card-large-div.bg-light
                    div.card-header
                        h5 #{connexionAttempt.os} / #{connexionAttempt.browser}
                            a
                                i.fa.fa-plus(style="float:right", aria-hidden="true")

                        h6.card-subtitle.mb-2.text-muted Connexion attempt at #{connexionAttempt.date}

                        div
                            if connexionAttempt['success']
                                h6(style="color:green")
                                    i.fa.fa-check
                                    | Successful
                            else
                                h6(style="color:red")
                                    i.fa.fa-times-circle
                                    | Failure
                    div.card-body(style="display:none;")
                        table.table.table-striped
                            thead
                                tr
                                    th(scope="col") Attribute name
                                    th(scope="col") Value
                            tbody
                                each value, attribute in connexionAttempt.fingerprint
                                    if attribute !== 'date' && attribute !== 'os' && attribute !== 'browser'
                                        tr
                                            td #{attribute}
                                            td #{value}

block append scripts
    script(src="/js/empreinte.js")
    script(src="/js/connexionAttempts.js")