extends layout

append content
    div.container.h-100.w-50#form_cont
        div.row.h-50.mb-5.justify-content-center
            div.col
                a.btn.btn-home.btn-block(href="/registration") Creer un compte
        div.row.h-50.mt-5.justify-content-center
            div.col
                a.btn.btn-home.btn-block(href="/authentication") Se connecter
