doctype html
html
    head
        block headers
            title Demo
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no')
            meta(name='description', content='Multifactor Authentication Demo')

        // - Fav icon
        link(rel="icon", href="favicon.ico", type="image/x-icon")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

        //- Bootstrap core CSS (Bootswatch Flatty Theme)
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/main.css")
        link(id="cssfile", rel="stylesheet", href="/css/navfirefox.css")

        // Custom css
        block css

    mixin lienNav(id,path,name,classI)
        li.nav-item
            a(id=id, href=path).nav-link
                i(class = classI)
                | #{name}

    body
        div#navbar(style="display:none;")
            nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
                ul.navbar-nav.mr-auto
                    li#nav-element-profile.nav-item
                        a.nav-link(href="/profile")
                            span.glyphicon.glyphicon-home Home
                    li#nav-element-adminpanel.nav-item
                        a.nav-link(href="/profile/admin") Admin panel
                    li#nav-element-empreinte.nav-item
                        a.nav-link(href="/profile/fingerprints") My fingerprints
                    li#nav-element-connexionattempts.nav-item
                        a.nav-link(href="/profile/connexionattempts") Connexion attempts

                ul.nav.navbar-nav.navbar-right
                    li#nav-element-bot.nav-item
                        a#disconnect.nav-link(href="/logout")
                            span.glyphicon.glyphicon-log-out Disconnect

        div.container.h-100#title_cont
            div.row.justify-content-center
                img#navlogo.fit-picture(src="/img/firefox_logo.png", width="200", height="200")

            div.row.justify-content-center
                b "Navigateur :"
            div#navname.row.justify-content-center "Firefox"
        div.col-xl-8.col-lg-8.col-md-10.offset-xl-2.offset-lg-2.offset-md-1
            block content

    block scripts
        script(type="text/javascript", src="/js/lib/jquery-3.4.1.js")
        script(type="text/javascript", src="/js/lib/bootstrap.min.js")
        script(type="text/javascript", src="/js/cookie.js")
        script(type="text/javascript", src="/js/navdetect.js")
