extends layout

append content
    div.container.h-100#form_cont
        div.row.justify-content-center
            h1 Administration Panel

        <!-- Default switch -->
        div.custom-control.custom-switch
            if parameters.sessionHijackingProtection
                input(type="checkbox", checked).custom-control-input#formSessionHijacking
            else
                input(type="checkbox").custom-control-input#formSessionHijacking
            label(for="formSessionHijacking").custom-control-label Activate the session hijacking protection

        div.row.mt-3 Fingerprint adding methods

        div.accordion.mt-2.mb-5#accordionExample
            div.card.card-accordion
                div.card-header#headingOne
                    h2.mb-0
                        button.btn.btn-custom.btn-block.collapsed(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Allow the first connexion coming from an unknown device

                div#collapseOne.collapse(aria-labelledby="headingOne", data-parent="#accordionExample")
                    div.card-body.card-accordion-body
                        div.col-sm-offset-1.col-md-offset-1.col-lg-offset-1#ALLOW_X_MINUTESDiv
                        center
                            button.btn.btn-custom#firstConnexionButton Start

            div.card.card-accordion
                div.card-header#headingTwo
                    h2.mb-0
                        button.btn.btn-custom.btn-block.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Send an e-mail

                div#collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionExample")
                    div.card-body.card-accordion-body
                        div.col-sm-offset-1.col-md-offset-1.col-lg-offset-1#EMAILDiv
                            center
                                label(for="email") E-mail :
                                input(type="text" id="email" name="email")
                                button.btn.btn-custom#buttonEmail Send
            div.card.card-accordion
                div.card-header#headingThree
                    h2.mb-0
                        button.btn.btn-custom.btn-block.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Allow all connexions on the network

                div#collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordionExample")
                    div.card-body.card-accordion-body
                        div.col-sm-offset-1.col-md-offset-1.col-lg-offset-1#NETWORKDiv
                            center
                                label(for="ipAddresses") IP addresses :
                                input(type="text" id="ipAddresses" name="ipAddresses" value=parameters.addFingerprintNetworkAddresses)
                                button.btn.btn-custom#buttonIPAddresses Save

block append scripts
    script(src="/js/parameters.js")