extends layout

append content
    div.container.h-100
        div.row.h-100.justify-content-center
            div.card.card-large-div.align-self-center
                div.card-body
                    div.col
                        h3 You're connected, #{email}
                    br
                    p Now try to connect with the same login and password on another browser or device.
                    p Hint : <b>you won't be able to !</b> The reason is that we perform authentication with two factors (2FA) : the password and the browser fingerprint.
                    br
                    div
                        img#schema-img(alt="schema" width="100%" height="100%")
            div.card.card-large-div.align-self-center
                div.card-body
                    p Browser fingerprint is a technique to collect data from a user's browser in order to identify him. More informations can be found on our <a href="http://amiunique.org">AmIUnique website</a>. The attributes of the fingerprint we collect here are the following :

                    table.table.table-striped
                        thead
                            tr
                                th(scope="col") #
                                th(scope="col") Attribute name
                                th(scope="col") Value
                        tbody#tbody-element

            div.card.card-large-div.align-self-center
                div.card-body
                    p The advantages of doing 2FA with browser fingerprint are the transparency, the non-intrusivity and the minimal impact on user experiences.
                    p But it also raises some questions :
                    ul.list
                        li How to have stable attributes ? Stable means over a long period of time, for weeks or months
                        li How to keep a high level of protection with a minimal user experience impact ? Some high stable and secure attributes need time to be compute
                        li What sort of mechanisms should occur when connecting from a new device ? When registering ? When a user would like to revoke a fingerprint (for example if a device is stolen) ?

block append scripts
    script(src="/js/empreinte.js")
    script(src="/js/fpcollect.js")
    script(src="/js/profile.js")
