extends layout

append content
    h1.text-center=Registration
    form#form
        label(for="email") Email
        input#email(name="email", type="email", class="form-control", placeholder="Email")

        label(for="password") Password
        input#password(name="password", type="password", class="form-control", aria-describedby="passwordHelp")
        small#passwordHelp(class="form-text text-muted")

        label(for="confirmPassword") Confirm password
        input#confirmPassword(name="password_again", type="password", class="form-control")
        
        button#validationBtn.btn.btn-primary(type=button) Submit

block append scripts
        script(src="/js/empreinte.js")
        script(src="/js/fpcollect.js")
        script(src="/js/registration.js")
