
#title_cont {
  	font-size: 3rem;
	margin-top: 15vh;
	transform: translateY(-30%);
    color : white;

}
#form_cont {
    color : white;
}
#navbar {
	padding-bottom:65px;
}
body {
	padding-bottom: 3em; /*does not work*/
}