body {
    background-color: #E63312;
   font-family:'Inria Sans';
   font-size: 1.5rem;}

.card-div {
	background-color: #b6280e;
	margin-top: 18vh;
	transform: translateY(-30%);
    color : white;
}


.card-large-div {
    background-color: white;
	margin-top: 5vh;
	color : black;

}


.btn {
   background-color: #5f7d8b;
    border: 2px solid #DDD5C7;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 3px;
    box-shadow: none;

}

.btn-home {
   background-color: #384257;
    border: 0px solid #fff;

    font-size: 1.5rem;
    border-radius: 0px;
    box-shadow: none;
    padding: 10% 0;
	color : white;



}

.btn-home:hover, .btn-home:focus, .btn-home:active {
    color: #fff;
    background-color: #282f3e;
}

.form-control {
    border-radius: 0px;
}

.btn-custom {
   background-color: #384257;
    border: 0px solid #fff;

    font-size: 1.5rem;
    border-radius: 0px;
    box-shadow: none;
	color : white;



}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    color: #fff;
    background-color: #282f3e;
}


.card-accordion {
   background-color: #384257;
    color : white;

}

.card-accordion-body {
background-color: #576788;
    color : white;
}


