<script>
	$(function(){

		fingerprint = undefined

		$.when(GetFingerprint()).done(function(fp){
			fingerprint = fp
		})
				
		$("#disconnect").click(function(){
			$.ajax({
				type: "POST",
				url:  "/disconnect",
				success: function(data){
					EraseCookie("Session-Id")
					EraseCookie("Fingerprint")
					window.location.replace("/connexion")
				},
				error: function(){}
			});
		})
	})


</script>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">

    	<ul class="navbar-nav mr-auto">
      		<li id="nav-element-profile" class="nav-item">
        		<a id="" class="nav-link" href="/profile"><span class="glyphicon glyphicon-home"></span>Home</a>
      		</li>
      		<li id="nav-element-adminpanel" class="nav-item">
        		<a class="nav-link" href="/profile/admin">Admin panel</a>
      		</li>
      		<li id="nav-element-empreinte" class="nav-item">
        		<a class="nav-link" href="/profile/fingerprint">My fingerprints</a>
      		</li>
      		<li id="nav-element-connexionattempts" class="nav-item">
        		<a class="nav-link" href="/profile/connexionattempts">Connexion attempts</a>
      		</li>
    	</ul>
    	<ul class="nav navbar-nav navbar-right">
      		<li id="nav-element-bot" class="nav-item">
	      		<a id="disconnect" class="nav-link" href="#"><span class="glyphicon glyphicon-log-out"></span>Disconnect</a>
	      	</li>
	    </ul>
</nav>